body {
    background-color: lemonchiffon;
    margin: 0;
}

.container:nth-of-type(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2 {
    width: 100%;
    text-align: center;
}

header {
    height: 100px;
    margin-left: 10px;
    margin-right: 10px;
}

header span {
    font-size: x-large;
}

.container:nth-of-type(2) {
    display: flex;
    align-items: center;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 500px;
    /* background-color: paleturquoise; */
}

section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 80%;
    margin-left: 25%;
    margin-right: 25%;
    background-color: rgb(152, 164, 164);
}

section h1{
    width: 100%;
    text-align: center;
}

section p {
    font-size: 24px;
    text-align-last: center;
    margin-bottom: 100px;
}

section button {
    padding: 10px;
    font-size: x-large;
    margin-bottom: 50px;
}

form {
    display: none;
    width: 100%;
    text-align: center;
}

input {
    font-size: x-large;
    padding: 10px 5px 10px 5px;
}

ul {
    width: 400px;
    height: 200px;
    text-align: center;
}

li {
    font-size: x-large;
    list-style-type: none;
    background-color: brown;
    padding: 2px;
    margin: 4px;
    border-radius: 4px;
}

li:hover {
    cursor: pointer;
}

#scoreList:hover {
    cursor: pointer;
}

#startButton:hover {
    cursor: pointer;
}